body {
    background-color: #EDDAD4;
}

.book2 {
    display: block;
    margin-top: 3em; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.shelf {
    width: 100%;
    background-color: #E7CDC5;
    height: 5px;
    border: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3em;
}

.sentences-box {
    display: grid;
    overflow: hidden;
    grid-template-columns: 10% 80% 10%;
    background-color: #FFF;
    min-height: 18em;
    width: 40%;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
    border-radius: 14px;
    /*filter: drop-shadow(1px 1px 4px black);*/
    box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
    user-select: none;
}

.sentences {
    font-size: 32px;
    margin-top: 50px;
}

blur {
    filter: blur(9px);
    -webkit-filter: blur(9px);
}

blur:hover {
    filter: blur(6px);
    -webkit-filter: blur(6px);
}

.quote1 {
    margin-top: 10px;
    margin-left: 10px;
}

.quote2 {
    margin-bottom: 10px;
    margin-right: 10px;
    justify-self: end;
    align-self: end;
}

.user-form {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-column-start: 2;
    justify-content: ;
    align-items: start;    
}

.user-input, user-input:focus { 
    width: 100%;
    height: 2em;
    border-radius: 14px;
    border: 0px;
    outline: none;
    align-self: start;
    box-shadow:1px 1px 4px rgba(0,0,0,0.25);
    z-index: 2;
    align-self: center;
    font-size: 24px;
    padding-left: 20px;
}

.user-input:focus::placeholder, .user-input::placeholder {
    /*padding-left: 10px;*/
    opacity: .3;
}

.check_book {
    border: 0px;
    background: transparent;
    justify-self: start;
    align-self: start;
    margin-top: 3px;
    margin-left: -90px;
    transition: margin-left 700ms;
    /*margin-bottom: auto;*/
}

.check_book:hover{
    margin-left: -20px;
    transition: margin-left 700ms;
    cursor: pointer;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
